body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eae2e2;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2ea3ce;
    padding: 15px 40px;
    color: rgb(28, 0, 0);
    gap: 700px;
}
.logo{
    font-size: 24px;
    font-weight: bold;

}
.nav{
    display: flex;
    gap:20px;

}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.nav a:hover{
    color: #2c2c22;
}
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;            
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
}.left img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    border-color: #0dc5a9;
    margin: 0  20px;
    
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    background-color: whitesmoke;

}
.right h1{
    font-size: 35px;
    color:rgb(135,6,6);
    margin-bottom: 20px;
}
.right p{
    font-size: 20px;
    color:#555;
    margin-bottom: 20px;
}
.right button{
    padding:10px 20px;
    border:none;
    cursor: pointer;
    background-color: #6b6b6b;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
.right button:hover{
    background-color: white;
    color:#6b6b01;
    transform: scale(1.1)
}